body {
    font-family: 'Arial', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(62, 84, 209);
}

/* Customize your styles here */

/* Hero Section */
.hero-section {
    background: url('hero2.jpg') center/cover no-repeat;
    color: rgb(243, 247, 255);
    text-align: center;
    padding: 10em 0;
    font-family: 'Segoe UI', Geneva, Verdana, sans-serif;
}

/* Profile Image */
.profile-image {
    max-width: 200px;
    border-radius: 50%;
}

/* About Me Section */
.about-me-section {
    background: linear-gradient(to top, rgb(243, 247, 255) 50%, #3F79B8);
    background-color:rgb(243, 247, 255);
    padding: 5% 3%;
    color: rgb(5, 29, 63);
    /* font-family: Geneva, Verdana, sans-serif; */
}

.skill-section {
    padding: 5% 8%;
    background: linear-gradient(16deg, #4a5b6c, rgb(107, 134, 120));
    background: linear-gradient(16deg, #4a5b6c, #677f96, #4a5b6c);
    color: #e3ecf5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.backend {
    background: linear-gradient(120deg, #4a5b6c, #677f96, #4a5b6c);
    font-family: monospace;
}

.frontend {
    background: linear-gradient(60deg, #e3ecf5, #93aec8, #e3ecf5);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/* Projects Section */
.projects-section {
    background-color: #f8f9fa;
    padding: 80px 0;
}

/* Contact Section */
/* .contact-section {
    background-color: #0c2b49;
    padding: 11% 10%;
    color: rgb(231, 234, 241);
} */

/* Contact Section */
.contact-section {
    /* background-color: #2e3554; */
    padding: 10% 10%;
    color: rgb(248, 249, 251);
    text-align-last: auto;
    padding-bottom: auto;
}
.ftr {
    background-color: #2e3554;
    background: linear-gradient(to left, #2e3554 10%, #21263c);
    text-align-last: center;
    padding-bottom: 0.8em;
}

.lxi {
    /* text-align-last: center; */
    color: rgb(231, 231, 233);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.badge-bolder {
    font-family:monospace;
    font-weight:bold;
    font-size: 1.2rem;
    margin: 5px;
}

.subt {
    font-size:medium;
    margin-left: 0.8em;
}

@media (max-width: 820px) {
    .skill-section {
        padding: 11% 8%;
    }
    .about-me-section {
        padding: 8% 1%;
    }
}

@media (max-width: 760px) {
    .skill-section {
        padding: 12.5% 8%;
    }
    .subt {
        margin-left: 0;
    }
    .contact-section {
        /* background-color: #2e3554; */
        padding: 13% 10%;
    }

}
